.rtPage {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  background: lightskyblue;
  height: 99vh;
}

.scoreArea {
  padding: 5px;
  margin-top: 20px;
}

.rt-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}

.gameBox {
  height: 200px;
  width: 400px;
  border: 2px solid black;
  border-radius: 2px;
  padding: 5px;
  font-size: 3em;
  text-align: center;
  cursor: pointer;
}